.header {
    height: 92px;
    background-color: #0a3665;
}

.header .header-con {
    margin: 0 auto;
    width: 1080px;
    height: 92px;
    background-color: #0a3665;
    overflow: hidden;
    background: url(../IMG/logo_cn.png) no-repeat 54px 31px;
    background-size: 161px 44px;
}

.header .header-con li a {
    color: #fff;
}

.header .header-con ul {
    padding-top: 10px;
    color: #fff;
    float: right;
    font-size: 12px;
}

.header .header-con ul li {
    float: left;
    border-left: 1px solid #fff;
    padding: 0 8px;
    cursor: pointer;
}

.header .header-con ul li:nth-child(4) img {
    width: 12px;
    height: 11px;
}

.header .header-con ul li:nth-child(4) span {
    color: red;
}

.header .header-con div {
    height: 30px;
    width: 488px;
    border-radius: 2px;
    margin: 40px auto 0;
    /* background: url(IMG/fdj.png) no-repeat 458px 6px;
    background-size: 19px 18px; */
    /* background会覆盖background-color */
    background-color: #fff;
    position: relative;
}

.header .header-con div input {
    border: none;
    width: 450px;
    height: 30px;
    margin-left: 10px;
}

.header .header-con div img {
    /* 位置不用定位怎么调整？ */
    width: 19px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    top: 6px;
}


/* .......导航....... */


/* 一级导航 */

.nav {
    height: 26px;
    background-color: #0669b2;
}

.nav .nav-con {
    width: 1080px;
    height: 26px;
    margin: 0 auto;
    position: relative;
}

.nav .nav-con .select {
    margin-left: 53px;
    color: #fff;
}

.nav .nav-con .select li {
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 11px;
    margin-right: 28px;
    cursor: pointer;
}

.nav .nav-con .select li:nth-child(2) img {
    width: 46px;
    height: 21px;
}


/* 二级导航 */


/* 第一个 */

.nav .nav-con .select>li #bskt {
    width: 290px;
    background-color: #fff;
    font-size: 12px;
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 10px;
    z-index: 999;
    padding: 0 20px 10px;
    color: slategrey;
    display: none;
}

.nav .nav-con .select>li #bskt li {
    float: left;
    width: 140px;
    text-align: center;
    margin-right: 0;
    line-height: 30px;
    height: 30px;
}

.nav .nav-con .select li ul li:hover {
    color: blue;
    background-color: rgb(123, 125, 128, .3);
    cursor: pointer;
}


/* 第二个 */

.nav .nav-con .select .brand {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 133px;
    display: none;
}


/* 第四个 */

.nav .nav-con .select .shirt {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 258px;
    display: none;
}


/* 第五个 */

.nav .nav-con .select .coat {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 307px;
    display: none;
}


/* 第六个 */

.nav .nav-con .select .pants {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 357px;
    display: none;
}


/* 第七个 */

.nav .nav-con .select .woman {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 403px;
    display: none;
}


/* 第八个 */

.nav .nav-con .select .children {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 476px;
    display: none;
}


/* 第九个 */

.nav .nav-con .select .shoe {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 546px;
    display: none;
}


/* 第十个 */

.nav .nav-con .select .ball {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 600px;
    display: none;
}


/* 第十一个 */

.nav .nav-con .select .acc {
    /* 不占位 */
    position: absolute;
    top: 26px;
    left: 646px;
    display: none;
}


/* 二级导航公共样式 */

.nav .nav-con .select li ul {
    padding: 5px 0 10px;
    z-index: 999;
    font-size: 12px;
    width: 150px;
    color: slategrey;
    line-height: 40px;
    background-color: #fff;
}

.nav .nav-con .select li ul li {
    width: 100%;
    float: none;
    text-align: center;
    margin-right: 0;
}

.nav .nav-con li ul li:hover {
    color: blue;
    background-color: rgb(123, 125, 128, .3);
    cursor: pointer;
}


/* .....内容区.... */

.main {
    height: 1624px;
}

.main .main-con {
    width: 1080px;
    margin: 0 auto;
}

.main .main-con1 {
    height: 25px;
    background: url(../IMG/nav.png) repeat-x -170px -4px;
    cursor: pointer;
}


/* ....轮播图... */

.main .wrap {
    height: 412px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.main .wrap img {
    width: 100%;
    height: 100%;
}

.main .wrap li {
    display: none;
}

.main .wrap li.show {
    display: block;
}

.main #prev,
.main #next {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.main #prev:hover,
.main #next:hover {
    opacity: 1;
    transform: scale(1.1)
}

.main #prev {
    left: 20px;
}

.main #next {
    right: 20px;
}

.main .dotWrap {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main .dotWrap li {
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: block;
}

.main .dotWrap .focus {
    background-color: #e6013f;
}


/* ....轮播图以下内容区.... */

.main .main-con2 {
    padding: 0 54px 0;
    /* background-color: red; */
    overflow: hidden;
}

.main .main-con2 .main-con2-1 {
    height: 12px;
    margin: 15px 0 15px 0;
    /* background-color: sandybrown; */
    position: relative;
}

.main .main-con2 .main-con2-1 h2 {
    font-weight: normal;
    line-height: 12px;
    font-size: 12px;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 9999;
}

.main .main-con2 .main-con2-1 p {
    width: 100%;
    height: 1px;
    background-color: #a7a9ac;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


/* ....图标... */

.main .main-con2-2 {
    height: 128px;
    width: 100%;
}

.main .main-con2-2 ul {
    float: left;
    height: 128px;
    width: 913px;
    /* background-color: seagreen; */
}

.main .main-con2-2 ul li {
    height: 45px;
    width: 45px;
    margin: 16px 4px 0 7px;
    float: left;
    cursor: pointer;
}

.main .main-con2-2 ul li img {
    height: 100%;
    width: 100%;
}

.main .main-con2-2 p {
    float: left;
    height: 104px;
    width: 45px;
    margin-top: 17px;
}

.main .main-con2-2 p img {
    width: 100%;
    height: 100%;
}


/* ....专区.... */

.main .main-con2-3 {
    width: 100%;
}

.main .main-con2-3 li {
    float: left;
    width: 480px;
    height: 267px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.main .main-con2-3 li:nth-child(2),
.main .main-con2-3 li:nth-child(4),
.main .main-con2-3 li:nth-child(6) {
    margin-right: 0;
}

.main .main-con2-3 li:nth-child(5),
.main .main-con2-3 li:nth-child(6) {
    width: 480px;
    height: 102px;
}

.main .main-con2-3 li img {
    width: 100%;
    height: 100%;
}


/* ....标志..... */

.main .main-con2 .main-con2-4 {
    width: 100%;
    height: 85px;
    margin-left: 186px;
    /* background-color: red; */
    /* 很多没加高度，都塌陷了 */
    overflow: hidden;
}

.main .main-con2 .main-con2-4 li {
    width: 88px;
    height: 85px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.main .main-con2 .main-con2-4 li img {
    width: 100%;
    height: 100%;
}

.main .main-con2 .main-con2-5 {
    height: 12px;
    width: 100%;
    /* 此处加会撑大盒子 */
    /* padding: 0 48px; */
    /* background-color: seagreen; */
    position: relative;
    margin-bottom: 16px;
}

.main .main-con2 .main-con2-5 h2 {
    height: 12px;
    line-height: 12px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    background-color: #fff;
}

.main .main-con2 .main-con2-5 p {
    width: 877px;
    height: 1px;
    background-color: #a7a9ac;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


/* 第二个轮播图 */

.main .main-con2 .main-con2-6 {
    width: 100%;
    height: 244px;
    /* background-color: seagreen; */
}

.main .main-con2-6 .slide {
    width: 877px;
    height: 244px;
    margin-left: 50px;
    /* background-color: slategrey; */
    overflow: hidden;
    position: relative;
}

.main .main-con2-6 .slide-con {
    width: 815px;
    height: 244px;
    margin: 0 auto;
    /* background-color: rosybrown; */
    position: relative;
    overflow: hidden;
}

.main .main-con2-6 .slide-con ul {
    width: 2000px;
    height: 244px;
    /* background-color: springgreen; */
    position: absolute;
    left: 0;
    top: 0;
}

.main .main-con2-6 .slide-con li {
    width: 150px;
    height: 244px;
    float: left;
    margin-right: 17px;
    position: relative;
}


/* 不取消最后一张和插入的第一张会没有间距 */


/* .main .main-con2-6 .slide-con li.lastLi {
    margin-right: 0;
} */

.main .main-con2-6 .slide-con li img {
    width: 100%;
    height: 150px;
}

.main .main-con2-6 .slide-con li h2 {
    font-size: 7px;
    line-height: 10px;
    font-weight: normal;
}

.main .main-con2-6 .slide-con li p {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 42px;
}

.main .main-con2-6 .slide-con li p .price-dis {
    color: red;
}

.main .main-con2-6 .slide-con li p span:nth-child(2) {
    color: #58595b;
    text-decoration: line-through;
}


/* 箭头 */

.main .main-con2-6 .slide #left,
.main .main-con2-6 .slide #right {
    width: 20px;
    height: 46px;
    position: absolute;
    opacity: .4;
    transition: all .5s;
}

.main .main-con2-6 .slide #left:hover,
.main .main-con2-6 .slide #right:hover {
    opacity: 1;
    /* 放大会导致图片下移，如何让解决 */
    /* transform: scale(1.1); */
}

.main .main-con2-6 .slide #left {
    top: 40%;
    left: 2px;
    transform: translate(0, -50%);
}

.main .main-con2-6 .slide #right {
    top: 40%;
    right: 2px;
    transform: translate(0, -50%);
}


/* 底部 */

.foot {
    height: 290px;
    background-color: #0a3665;
}

.foot .foot-con {
    width: 974px;
    height: 290px;
    margin: 0 auto;
    /* background-color: seagreen; */
}

.foot .foot-con-top {
    height: 199px;
    border-bottom: 1px solid #fff;
    background: url(../IMG/foot1.png) no-repeat 2px 30px;
    background-size: 162px 42px;
    /* 背景图可以在padding区显示？ */
    padding-left: 245px;
}

.foot .foot-con-top ul {
    float: left;
    font-size: 11px;
    color: #fff;
}

.foot .foot-con-top ul:nth-child(1) {
    margin-right: 130px;
    line-height: 38px;
    margin-top: 19px;
}

.foot .foot-con-top ul:nth-child(2) {
    margin-right: 120px;
    line-height: 20px;
    margin-top: 28px;
}

.foot .foot-con-top ul:nth-child(2) img {
    width: 38px;
    height: 38px;
    margin: 6px 0 13px 0;
}

.foot .foot-con-top ul:nth-child(3) {
    line-height: 29px;
}

.foot .foot-con-top ul:nth-child(3) li:nth-child(1) {
    line-height: 31px;
    margin-top: 22px;
}


/* 二维码显示 */

.foot .foot-con-top ul:nth-child(2) {
    position: relative;
}

.foot .foot-con-top ul:nth-child(2) #img1 {
    width: 75px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 68px;
    padding: 5px;
    background-color: #fff;
    /* display: none; */
}

.foot .foot-con-top ul:nth-child(2) #img1 img {
    margin: 0;
}

.foot .foot-con-top ul:nth-child(2) #img2 {
    width: 75px;
    height: 64px;
    position: absolute;
    top: 94px;
    left: 68px;
    padding: 5px;
    background-color: #fff;
    /* display: none; */
}

.foot .foot-con-top ul:nth-child(2) #img2 img {
    margin: 0;
}

.foot .foot-con-top ul:nth-child(2) #img1 img,
.foot .foot-con-top ul:nth-child(2) #img2 img {
    width: 100%;
    height: 100%;
}


/* 底部下 */

.foot .foot-con-bottom {
    height: 90px;
    /* background-color: silver; */
    overflow: hidden;
}

.foot .foot-con-bottom a {
    color: #fff;
}

.foot .foot-con-bottom ul {
    height: 22px;
    /* width: 900px; */
    font-size: 10px;
    margin-left: 210px;
    margin-top: 9px;
    /* padding区可以显示背景图 */
    padding-left: 15px;
    background: url(../IMG/foot3.png) no-repeat 0 4px;
    background-size: 13px 15px;
}

.foot .foot-con-bottom ul li {
    height: 22px;
    line-height: 22px;
    float: left;
    margin-right: 16px;
}

.foot .foot-con-bottom ul li:nth-child(1) span:nth-child(2) {
    margin: 0 2px;
}

.foot .foot-con-bottom ul li span {
    color: #fff;
    margin: 0 10px;
}

.foot .foot-con-bottom p {
    font-size: 9px;
    line-height: 26px;
    color: #fff;
}